body{
    margin:0;
    display: flex;
    justify-content: center;
    height:100vh;
    text-align: center;
  }
  .content{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .cell{
    background: yellow;
    border:5px solid #6bd1eb;
    cursor: pointer;
    width:100px;
    height:100px;
  }
  .control{
    max-width:350px;
  }
  .msg{
    margin:5px auto;
    display: flex;
    justify-content: space-around;
    line-height: 2rem;
  }
  button,span{
    width:33%;
}